<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /A100/wordpress_job_board/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /A100/wordpress_job_board/index.php [L]
</IfModule>

